::-webkit-scrollbar { 
    display: none; 
} 
.body{
    font-family: 'Alegreya Sans', sans-serif;
    overflow:hidden;
}
/* nav-bar */
.solid-white{
    width: 40px;
    height: 2px;
    background-color: white ;
    margin-left: 9px;
}
.solid-white-changed{
    width: 0px;
    height: 2px;
    background-color: white ;
    margin-left: 9px;
    transition: all 0.5s;
}
.nav-item:hover .solid-white-changed{
width: 40px;
}
.nav-link{
    color: white;
}
/* home section */
.home{
    background-image: url(img/intro-bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.home-overlay{
    background-color: rgba(0, 0, 0, 0.5);
}
.home-caption h1{
    font-size: 72px;
}

.home-caption p{
    font-size: 40px;
    font-weight: 400;
}

/* about section */

.about .container{
    width: 55%;
    margin:auto;
    margin-top: 50px;

}



.about .container .inner-container .contacts-container .bold{
    font-weight: 700;
    font-size: 17px;
}
.solid-blue{
    width: 80px;
    height: 3px;
    background-color: #0078FF;
}
.about-me p{
    Font-size: 20px;

Font-weight: 300;

Line-height: 30px;

color: rgb(78, 78, 78);
    
}
/* services section */

.solid-blue-short{
    width: 40px;
    height: 5px;
    background-color: #0078FF;
    
}
.services .cards .card span{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:8px #0078FF solid;
    font-size:45px;
    transition: all 0.5s;
}
.services .cards .card:hover span{
    border: #CDE1F8 solid 8px ;
    background-color:#0078FF;
    color: white;

}